# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simple_pickets

# Saved icons
saves/*

# Qt files (will eventually remove *.pro and Makefile)
moc_*
qrc_*
*.pro
Makefile

# vim swap files
*.swp


